 body {
	FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt; 
}

td,th {color: #353C46; FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt;}
pre {color: #777777; FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt;}

body {
	margin-left: 0px;
	margin-top: 0px;
}
.css01 {color: #353C46; FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt;}
.css02_s {color: #353C46; FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt; }
.style2 {color: #777777; FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;line-height:11pt; }

.textarea {background-color:transparent; border:0; overflow-x:hidden; overflow-y:auto; padding-top:1; padding-right:5; padding-bottom:5; padding-left:5;}

    A { color:#353C46;FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;}
    A:hover { color:#447aa8;FONT-FAMILY:µ¸¿ò, Arial; FONT-SIZE: 9pt; text-decoration:none;}

/*Ãß°¡ºÐ*/
.td1 {background:#e6e7df;font:bold;height:28;}
.td2 {background:#DAE3EC;font:bold;height:28;}
.td3 
{
  font:±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:30;
  border-width: 0px 0px 1px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;

}
.sub_sub01
{
  color:#353C46; font:bold; font:Arial, Helvetica, sans-serif, "±¼¸²", "µ¸¿ò"; font-size:11pt;height:30;
}

.td4  
{
  color:#353C46; ±¼¸²,arial; font-size:9pt;height:30;
}
.td5 
{
  font:bold ±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:200;
  border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;

}

.td6 
{
  font:±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:60;
  border-width: 0px 0px 1px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;

}

.td7 
{
  font:bold ±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:30;
  border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;

}

.td8 
{
  font:bold ±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:50;
  border-width: 0px 0px 1px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;

}
.td9
{
  font:bold ±¼¸²,arial; font-size:9pt;
  color:353C46;
  height:30;
  border-width: 0px 0px 1px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;
	cursor:hand;
}

.td10
{
  font:±¼¸²,arial; font-size:9pt;color:353C46;
  text-align:left;
   border-width: 0px 0px 1px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;
	background-color: white;
	cursor:hand;
}



.box {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	
}

.boxarea {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	overflow-x:hidden; overflow-y:auto;
	
}

/*¹öÆ° Style*/
.bt_f {	height: 20px;	width: 3px;	background: url(../Images/Etc/bt_f.gif) no-repeat;	color: #333333;	font: 9pt ±¼¸², ±¼¸²Ã¼;}
.bt_e {	height: 20px;	width: 4px;	background: url(../Images/Etc/bt_e.gif) no-repeat;	color: #333333;	font: 9pt ±¼¸², ±¼¸²Ã¼;}
.button {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../Images/Etc/bt_bg.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOn {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../Images/Etc/bt_bg.gif) repeat-x; text-align:center; padding:0 0 0 0}
.button1 {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../Images/Etc/bt_bg1.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOn1 {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../Images/Etc/bt_bg1.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonSearch {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../Images/search.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOnSearch {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../Images/searchOn.gif) repeat-x; text-align:center; padding:0 0 0 0}


.utl {width:100%;height:2;background:#000000;}
.btl {width:100%;height:1;background:#000000;}
.bt
{
border-style:solid; 
border-width:0;  
line-height:0pt; 
color:black; 
text-align:center; 
padding:0 0 0 0;
}
.title1
{
  font:bold  Arial, Helvetica, sans-serif, "±¼¸²", "µ¸¿ò",arial; font-size:11pt;
  color:white;
  height:20;
  border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: CECECC CECECC CECECC CECECC;
	border-collapse: separate;
	background-color: 175399;
}
.table2
{


  text-align:center;
  font:bold ±¼¸²,arial; font-size:9pt;
  color:white;
  height:20;
  border-width: 1px 1px 1px 1px;
	border-style: ridge ridge ridge ridge;
	border-color: CECECC CECECC CECECC CECECC;
	background-color: 175399;
}
.table3
{
  text-align:center;
  font:bold ±¼¸²,arial; font-size:9pt;
  color:175399;
  height:20;
  border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: CECECC CECECC CECECC CECECC;
	background-color: DAE3EC;
}
.table4
{
  text-align:left;
  font:bold ±¼¸²,arial; font-size:9pt;
  color:black;
  height:20;
  border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: CECECC CECECC CECECC CECECC;
	background-color: white;
}

.title2
{
  font:bold ±¼¸²,arial; font-size:9pt;
  color:white;
  height:20;
  border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: CECECC CECECC CECECC CECECC;
	border-collapse: separate;
	background-color: E8E8E8;
}
.title01  
{
  color:#353C46; font:bold; font:Arial, Helvetica, sans-serif, "±¼¸²", "µ¸¿ò"; font-size:13pt;height:30;
}
.viewContentH {font-size:10pt;height:30; font:bold; text-align:left;cursor:hand;border-style:solid; border-color:#639E9A #DDDDD #639E9A #639E9A;border-width:0 0 0 0}
.viewContentHC {text-align:center;cursor:hand;border-style:solid; border-color:#639E9A #DDDDD #639E9A #639E9A;border-width:0 0 0 0}
.onbase {filter='progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#D0E2EF, EndColorStr=#FFFFFF)';border-style:solid; border-width:1; border-color:#E3EEF5 #6D8A9D #6D8A9D #E3EEF5;color:#2A8A2A;text-align:center; padding:0 5 0 5;line-height:13px;}
.viewContentSC 
{
	text-align:left;cursor:hand;text-decoration:underline;
	border-width: 0px 0px 1px 0px;
	font: ±¼¸²,arial; font-size:9pt;
	color:353C46;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;color:#008080}
.viewOnC 
{
	text-align:left;cursor:hand;text-decoration:underline;
	border-width: 0px 0px 1px 0px;
	font: ±¼¸²,arial; font-size:9pt;
	color:353C46;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: #E6E7DF #E6E7DF grey #E6E7DF;
	border-collapse: separate;color:#c71585
	}
.viewContentHR
{text-align:right;cursor:hand;border-style:solid; border-color:#639E9A #DDDDD #639E9A #639E9A;border-width:0 0 0 0}