H1
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 16pt;
    BACKGROUND-IMAGE: url(img/NAV1.JPG);
    WIDTH: 100%;
    COLOR: midnightblue;
    LINE-HEIGHT: 40px;
    FONT-FAMILY: ±¼¸², Verdana;
    LETTER-SPACING: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
body {  font-family: "µ¸¿ò", "µ¸¿òÃ¼", "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; line-height: 15pt}
td {  font-family: "µ¸¿ò", "µ¸¿òÃ¼", "±¼¸²", "±¼¸²Ã¼"; font-size: 9pt; line-height: 15pt}
td {  }
body {  }
