<!--
select, textarea {font-family:굴림,arial; border:1x solid black; font-size:9pt; vertical-align : middle; border-color:#d0d0d0;text-decoration: none}
input {font-family:굴림; font-size:9pt; height:19px; border-width:1;border-style:solid; border-color:#d0d0d0;vertical-align : middle; text-decoration: none}

TD {font-size:9pt;}
.table1 {background:#578BCF;}
.table2 {background:FFFFFF;}
.td1 {background:#E9F5F2;text-align:center;}
.td1b {background:#E9F5F2;text-align:right;}
.td2 {background:#FFFFFF; padding:0 5 0 0}
.td3 {background:#F4EBD5;}
.td9 {background:#FFFFFF;line-height:150%;text-align:center;}                        /*전순배 추가 제안관리 때문에*/
.td4 {background:#FFFFFF;text-align:center;} /*2004-04-15 김인희추가 */

.treetitle {font-family:굴림; font-size:9pt;color:#00451C;}
.namoforread {background:#578BCF;}

a:link {font-family:굴림,arial; line-height: 13pt; font-weight:500; color:blue; font-size:9pt; text-decoration: none} 
a:visited {font-family:굴림,arial; line-height: 13pt; font-weight:500; color:#8080ff; font-size:9pt; text-decoration: none} 
a:hover {font-family:굴림,arial; line-height: 13pt; font -weight:500; font-size: 9pt; color:red; text-decoration:none}
a:active {font-family:굴림,arial; line-height: 13pt; font-weight:500; color: red; font-size:9pt; text-decoration: none} 

.loctitle {background:#EAEBEB;}
.leftnavi {background:#15396C;}
.leftnavi1 {background:#DFECFE;}
.base {border-style:solid; border-width:1; border-color:#C2CAD1 #818181 #818181 #C2CAD1; line-height:13pt; color:black; background:#D8DADA; text-align:center; padding:0 5 0 5}
.onbase {border-style:solid; border-width:1; border-color:#D0E2EF; line-height:13pt; color:black; text-align:center; padding:0 5 0 5}
.on {border-style:solid; border-width:1; border-color:#99B4D7 #C6D6EC #C6D6EC #578BCF; line-height:13pt; color:black; background:#C6D6EC; text-align:center; padding:0 5 0 5}
.down {border-style:solid; border-width:1; border-color:#99B4D7 #C6D6EC #C6D6EC #578BCF; line-height:13pt; color:black; background:#C6D6EC; text-align:center; padding:0 5 0 5}

.newtd {font:굴림,arial; font-size:9pt;line-height: 15pt; vertical-align : middle; text-decoration: none; background:#C4D6AF;border-style:solid; border-color:#598527 #598527 #598527 #598527; border-width:0 0 1 0}
.buttona {font-family:굴림; font-size:9pt; height:20px; border-width:1; border-style:ridge; border-color:#d0d0d0; background-color:#dfdfdf;}

.radiocheck {font-family:굴림; font-size:9pt;}

.commentContent {
	border-style:solid; 
	border-color:#7386B5 #7386B5 #7386B5 #7386B5; 
	border-width:0 0 1 0;
}

BODY {background:#ffffff;line-height:15pt;scrollbar-face-color:#ffffff;scrollbar-shadow-color:#578BCF;scrollbar-highlight-color:#578BCF;scrollbar-3dlight-color:#ffffff;scrollbar-darkshadow-color:#ffffff;scrollbar-track-color:#ffffff;scrollbar-arrow-color:#578BCF;}
P {font-size:9pt; font-family: 굴림;line-height:160%; margin-top:0; margin-bottom:0;}

/* 첨부 checkbox가 예쁘게 보이도록 */
input.Attach{
	background: transparent;
	border: none;
}

/*전인혜추가(Khelper.nsf)*/
.tron {background:#A6D0FF;}
.trout {background:#DCEAFD;}
.trout2 {background:#ffffff;}
.base2 {border-style:solid; border-width:1; border-color:#E3EEF5 #E3EEF5 #E3EEF5 #E3EEF5; line-height:13pt; color:black; background:#D0E2EF; text-align:center; padding:0 5 0 5}
.viewContent {text-align:left;cursor:hand;border-style:solid; border-color:#598527 #598527 #598527 #598527; border-width:0 0 0 0}
.khtitle2 {font-family:굴림; font-size:9pt;color:#578BCF;}
.khtitle {font-family:굴림; font-size:10pt;font-weight:800;color:#578BCF;}


/*전인혜추가(appro.nsf)*/
.tdC {background:#FFFFFF;text-align:center;}
.tdR {background:#FFFFFF;text-align:right;}
.tableA {background:background:#E4EFF5;}
/* 이동복 추가 */
.rdocContent {cursor:hand;}
.trskin2 {font:bold 굴림,arial; font-size:9pt;line-height: 15pt; vertical-align : middle; text-decoration: none; background:#EAEBEB;border-style:solid; border-color:#578BCF #578BCF #578BCF #578BCF; border-width:1 1 1 1}

/* 정태한 추가 */
.trskin1 {font:bold 굴림,arial; font-size:9pt;line-height: 15pt; vertical-align : middle; text-decoration: none; background:#EAEBEB;border-style:solid; border-color:#578BCF #578BCF #C2CAD1 #578BCF; border-width:2 0 1 0}
.on1 {border-style:solid; border-width:1; border-color:#99B4D7 #C6D6EC #C6D6EC #578BCF; line-height:13pt; color:black; background:#C6D6EC; text-align:center; padding:0 5 0 5}
.viewContent  {text-align:center;border-style:solid; background:#FFFFFF; border-color:#EBEEF0 #EBEEF0 #EBEEF0 #EBEEF0;border-width:0 0 1 0}
.viewContentL {text-align:left;cursor:hand;border-style:solid; background:#FFFFFF; border-color:#EBEEF0 #EBEEF0 #EBEEF0 #EBEEF0;border-width:0 0 1 0}
.viewContentC {text-align:center;cursor:hand;border-style:solid; background:#FFFFFF; border-color:#EBEEF0 #EBEEF0 #EBEEF0 #EBEEF0;border-width:0 0 1 0}
.viewContentR {text-align:right;cursor:hand;border-style:solid; background:#FFFFFF; border-color:#EBEEF0 #EBEEF0 #EBEEF0 #EBEEF0;border-width:0 0 1 0}


/* 메일에서 사용(지연추가) */
.mailbase {
	border-style:solid; 
	border-width:0; 
	border-color:#ffffff; 
	line-height:13pt; 
	color:black; 
	background:#BCDAE8; 
	text-align:center
}

.mailon {
	border-style:solid; 
	border-width:0; 
	border-color:#ffffff; 
	line-height:13pt; 
	color:black; 
	background:#ffffff; 
	text-align:center
}

.QuickAddressbar {background:#DEEFFF;text-align:center;}


/* 의견 관련 CSS 동복 추가 */
.cmntTB {
	table-layout: fixed;
	border-style:solid; 
	border-width:1 0 0 0; 
	border-color:#578BCF; 
}

.cmntTR {
	line-height:15pt;
}

.cmntTH {
	vertical-align:top;
	width:120;
	border-style:solid; 
	border-width:0 0 1 0; 
	border-color:#578BCF; 
}

.cmntTD {
	vertical-align:top;
	border-style:solid; 
	border-width:0 0 1 0; 
	border-color:#578BCF;
}
/*Menual Style*/
.mu_header {font-size: 14px; font-family: "돋움", Arial; color: #43898B; font-weight: bold; }
.mu_title {; font-family: "돋움", Arial; font-size: 16px ;font-weight: bold;}
.mu_subtitle {; font-family: "돋움", Arial; font-size: 13px;color: #333333;font-weight:bold;}
.mu_div_t0 {font-size: 14px; font-family: "돋움", Arial; background-color:#c7e3e4}
.mu_div_t1 {font-size: 12px;; font-family: "돋움", Arial;  color: ; font-weight: bold; }/*#666666*/
.mu_div_b1 {font-size: 12px;; font-family: "돋움", Arial;  color: ; } /*#666666*/
.mu_div_t0_over {font-size: 14px; font-family: "돋움", Arial; background-color:#c7e3e4;cursor:hand;text-decoration:underline;color:blue}

/*버튼 Style*/
.bt_f {	height: 20px;	width: 3px;	background: url(../images/Etc/bt_f.gif) no-repeat;	color: #333333;	font: 9pt 굴림, 굴림체;}
.bt_e {	height: 20px;	width: 4px;	background: url(../images/Etc/bt_e.gif) no-repeat;	color: #333333;	font: 9pt 굴림, 굴림체;}
.button {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../images/Etc/bt_bg.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOn {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../images/Etc/bt_bg.gif) repeat-x; text-align:center; padding:0 0 0 0}
.button1 {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../images/Etc/bt_bg1.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOn1 {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../images/Etc/bt_bg1.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonSearch {border-style:solid; border-width:0;  line-height:13pt; color:black; background:url(../images/search.gif) repeat-x; text-align:center; padding:0 0 0 0}
.buttonOnSearch {border-style:solid; border-width:0; line-height:13pt; color:#7DBD00; background:url(../images/searchOn.gif) repeat-x; text-align:center; padding:0 0 0 0}

-->